[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
django-debug-toolbar = "*"
faker = "*"
factory-boy = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
kavenegar = "*"
drf-nested-routers = "*"
drf-yasg = {extras = ["validation"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
